/* font-family: 'Abel', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Mulish', sans-serif; */

body,
#root {
	margin: 0;
	min-height: 100vh;
	font-family: Mulish, sans-serif;
	text-align: center;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: white;
	font-family: Abel, sans-serif;
}

.title {
	font-family: "Concert One", cursive;
	margin: 3vh;
	font-size: 2.5em;
}

.title > h1 {
	margin: 0;
}

#header {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#header > * {
	margin: 0 auto;
}

.header-directory {
	display: flex;
	justify-content: space-between;
}

#header a {
	text-decoration: none;
}

#footer {
	margin-top: auto;
}

.footer-directory {
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
	margin: auto;
}

#footer a {
	text-decoration: none;
	padding: 5px;
}

#footer-copyright {
	margin: 0;
	padding-bottom: 20px;
}

.page-content {
	margin: 30px;
	margin-bottom: 5vh;
}

@media screen and (width >= 700px) {
	.page-content {
		margin: 30px 10%;
	}
}

@media screen and (width <= 700px) {
	body {
		font-size: 0.9em;
	}

	.page-content {
		margin: 10px;
	}

	.title {
		font-size: 1.5em;
	}
}

@media screen and (width <= 400px) {
	#header {
		width: 300px;
	}

	.header-directory {
		justify-content: space-around;
	}

	body {
		font-size: 0.7em;
	}
}
